.app {
  padding-left: 50px;
  overflow: hidden;
  color: #fff;
}
.app img {
  width: 100px;
  height: auto;
}
.section {
  margin-bottom: 40px;
}
h2 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 70à;
}
.list {
  display: flex;
  background-color: aquamarine;
  overflow-x: scroll;
  color: black;
}
.section img {
  width: 220px;
  height: 124px;
}
